#controles ul {
  list-style-type: none;
  padding: 0;
  transform: translateX(-80%);
}

#controles ul:hover {
  transform: translateX(0);
}

/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
    transition: all 1s ease-in;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas *sugestões*:
 *   - com-fome: animal piscando (opacidade variando)
 *   - satisfeito: uma borda verde no animal e o animal fica girando de alegria
 *   - com-raiva: animal fica pulsando
 *   - atacando: animal dá um salto e cresce, com uma borda vermelha
 */
.com-fome {
  animation: piscando .5s ease-in 1s infinite;
}

.satisfeito {
  animation: girando 0.7s ease-in-out 0.3s infinite backwards;
  border-radius: 50%;
  border: 3px solid green;
}

.com-raiva {
  position: relative;
  animation: pulsando .2s ease-in-out 0s infinite alternate;
}

.atacando {
  animation: cresce .7s ease-in 0.3s infinite;
  border-radius: 50%;
  border: 3px solid red;
}

@keyframes girando {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes piscando {
  from { opacity: 1.0; } 
  to {opacity: 0.6; }
}

@keyframes pulsando {
  from { left: 0; }
  to   { right: 10px; }
}


@keyframes cresce {
  from { width: 200px; height: 200px;}
  to   { width: 300px; height: 300px;}
}